.list-group {
	margin-top: 1.5rem;
}

.navbar {
	margin-bottom: 0;	
}

#form-materia-prima {
	margin-top: 2rem;
}

.custo-total {
	margin-top: 1rem;
	font-size: 3rem;
	font-weight: bold;
}

#botao-impressao {
	margin-left: 2rem;
	margin-right: 3rem;
}